[submodule ".local/share/nvim/site/pack/plugins/opt/vim-airline"]
	path = .local/share/nvim/site/pack/plugins/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "/home/will/.local/share/nvim/site/pack/colorschemes/opt/gruvbox"]
	path = /home/will/.local/share/nvim/site/pack/colorschemes/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".local/share/nvim/site/pack/colorschemes/opt/gruvbox"]
	path = .local/share/nvim/site/pack/colorschemes/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "/home/wc/.local/share/nvim/site/pack/colorschemes/opt/onedark.vim"]
	path = /home/wc/.local/share/nvim/site/pack/colorschemes/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
